# ========================
# CMake
# ========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
out/
CMakeUserPresets.json
External/

# ========================
# Visual Studio (IDE only)
# ========================
.vs/
*.vcxproj*
*.sln
*.user
*.suo
*.VC.db
*.VC.opendb
ipch/
*.log

.vscode/
*.diagsession

# ========================
# os
# ========================
.DS_Store
Thumbs.db
*.swp
*.swo

# ========================
# binary
# ========================
*.exe
*.dll
*.obj
*.pdb
*.cache
*.ilk
*.tmp
*.bak
*.old

# ========================
# Mixamo / model / texture / sound assets
# ========================
Assets/**/*.glb
Assets/**/*.fbx
Assets/**/*.png
Assets/**/*.jpg
Assets/**/*.wav

# ========================
# Assets required to verify operation
# ========================
!Assets/**/base_action_trimed.glb
!Assets/**/musicholder-sword-sound-260274.wav

!Assets/**/mutant_idle.glb
!Assets/**/AntiqueCamera.glb


# ========================
# Python
# ========================
.venv

# ========================
# Others
# ========================
settings.json
lesson/
docs/drafts/
compile_commands.json
.clang-format

